/* "../part/gcass_main/footBox.css" */

#footBox {
  width: 100%; height:auto; min-height:110px;
  padding:20px 40px 25px;
  border-top:1px solid #333;
  border-top:var(--border-line1);
  /* background-color: #ddf; */  
  background-color: #fff;
  background-color: var(--color-white); 
}

#footBox > h2 {
  float:left;
  width:80px; height:54px;
  margin-right: 36px;
  font-size:1rem;
  background-color: var(--color-gray1);
}
/* ------------- */
.info_service {
  float:left; 
  width:95px; height:54px;
  margin-right: 18px; padding-top:12px;
  box-sizing: border-box;
  }
  .company_location {
    float:left;
    width:28px; height:38px;
    margin-right:15px;
    background-color: var(--color-gray2);
  }
  .company_location a{
    background-image: url("../../../img/gcass/map-marker-alt-solid.svg");
    background-size: contain;
  }

  .company_social_net {
    float:left;
    width:36px; height:36px;
    background-color: var(--color-gray2);
  }
  .company_social_net a {
    background-image: url("../../../img/gcass/facebook.svg");
    background-size:95%;
  }


/* ------------- */
.site_add {
  float:left; 
  width:360px; height:54px;
}

address {
  width: 100%; height:auto;
}

.site_add p {
  width: 100%; height: auto;
  margin-bottom:5px;
}
.site_add p:last-of-type {
  margin-bottom: 0;
}

/* ------------- */
.family_guide {
  float:right; 
  width:300px; height:auto;
  margin-top:-10px;
}

.family {
  width: 100%; height: 60px;
}
.family > dl{
  width: 100%; height:30px; 
}
.family dt{
  float:left;
  width:95px; height:inherit;
  background-color:#555;
  background-color: var(--color-gray4);
 }
.family dd{
  float:left;
  width:205px; height:inherit;
 }
 .site_link_01 {
   background-color: #baa50c;
   background-color: var(--color-yellow1);
 }
 .site_link_02 {
   background-color: #fff30d;
   background-color: var(--color-yellow2);
 }

 .narration {
   width: 100%; height:auto;
   font-size:0.75rem;
 }

 .narration p {
    float:right;
    width:300%; height:auto;
    margin-top:15px;
    white-space:nowrap;
    text-align: right;
 }