/* "../part/gcass_main/viewBox.css" */

#viewBox {
  float:right; position: relative;
  width:730px; height:710px;
  /* background-color: #fff; */
}

#viewBox:before,
#viewBox::before {
  content:""; display: block;
  width: 100%; height:50px;
  background-image: url("../../../img/gcass/pattern_sample.png");
  opacity:0.5;
}

/* .pattern {
  width: 100%; height:50px;
  background-image: url("../../../img/gcass/pattern_sample.png");
  opacity:0.5;
} */

.view_area {
  position: absolute; right:40px; bottom: 78px;
  width: 600px; height: 520px;
}

  .issue_image {
    position: absolute; bottom:0; right:260px; z-index:50;
    width:340px; height:510px; 

    background-image: url("../../../img/gcass/view_object_01.png");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: contain;

    /* background-color: var(--color-gray4); */
    transition:all 300ms linear;
  }




  .issue_text {
    position: absolute; bottom:0; right:0;
    width:300px; height:485px; 

    background-image: url("../../../img/gcass/view_object_02.png");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: contain;
    /* background-color: var(--color-gray3); */

    /* box-shadow:5px 5px 5px rgba(0,0,0,0.7); */
    filter:drop-shadow( 5px 5px 5px rgba(0,0,0,0.7) );
    transition:all 500ms linear 100ms;
    
  }

/* shadow
  - text-shadow : x축 y축 번짐의정도 색상;
  - box-shadow : x축 y축 번짐의정도 (offset양) 색상 (내부그림자처리허용-inset);
  - filter: drop-shadow( x축 y축 번짐의정도 색상 );


*/




  .view_area:hover > .issue_image {
    right:300px; 
  }

  .view_area:hover > .issue_text {
    right:-40px;
  }