/* laptop : 1280 ~ 1599 */
/* css/resto/laptop.css */

@media screen and (min-width: 1280px) and (max-width: 1599px) {
  /* 디자인 기준: 1280px */

  
 /* #wrap ----------------------- */
 #wrap {  --headHeight:6.25rem; }

/* #headBox ----------------------- */
/* #headBox {} */
#headBox > .container{
  width: 100%; height: 100%;
  max-width:940px; max-width:58.75rem; 
  margin:auto;
  padding-top:20px; padding-top:1.25rem;
}

h1 {
  width:128px; height:80px;
  width:8rem; height:5rem;
}

/* #naviBox ----------------------- */
#naviBox { 
  width:60px; height:40px;
  width:3.75rem; height:2.5rem;
  margin-top:16px;  margin-top:1rem;
}

/* #viewBox ----------------------- */
#viewBox {height: 57.5rem; }
/* #discoverBox ----------------------- */
#discoverBox {height: 89.375rem;}
/* #guideBox ----------------------- */
#guideBox { height: 74.375rem;}
/* #eventBox ----------------------- */
#eventBox { height: 68.75rem;}
/* #galleryBox ----------------------- */
#galleryBox { height: 89rem;}
/* #chefBox ----------------------- */
#chefBox { height: 39.375rem;}
/* #locationBox ----------------------- */
#locationBox {height: 40rem;}
/* #restoInfoBox ----------------------- */
#restoInfoBox {height: 23.75rem;}

} /* @media screen 1280~1599 */ 