/* laptop : 1280 ~ 1599 */
/* css/resto/laptop.css */

@media screen and (min-width: 1280px) and (max-width: 1599px) {
  /* 디자인 기준: 1280px */

  
 /* #wrap ----------------------- */
 #wrap {  --headHeight:6.25rem; }

/* #headBox ----------------------- */
/* #headBox {} */

/* #naviBox ----------------------- */
/* #naviBox { } */

/* #viewBox ----------------------- */
#viewBox {height: 57.5rem; }
/* #discoverBox ----------------------- */
#discoverBox {height: 89.375rem;}
/* #guideBox ----------------------- */
#guideBox { height: 74.375rem;}
/* #eventBox ----------------------- */
#eventBox { height: 68.75rem;}
/* #galleryBox ----------------------- */
#galleryBox { height: 89rem;}
/* #chefBox ----------------------- */
#chefBox { height: 39.375rem;}
/* #locationBox ----------------------- */
#locationBox {height: 40rem;}
/* #restoInfoBox ----------------------- */
#restoInfoBox {height: 23.75rem;}

} /* @media screen 1280~1599 */ 