/* phone_v : ~ 479 */
/* css/resto/phone_v.css */

@media screen and (max-width:479px) {
  /* design기준 : 480 */

  /* #wrap ----------------------- */
  #wrap {
    --headHeight:2rem;  
  }

  /* #headBox ----------------------- */
  /* #headBox {} */

  /* #naviBox ----------------------- */
  /* #naviBox {} */

  /* #viewBox ----------------------- */
  #viewBox {
    height: 36.5rem; 
  }

  /* #discoverBox ----------------------- */
  #discoverBox {
    height: 108.4375rem;
  }

  /* #guideBox ----------------------- */
  #guideBox {
    height: 51.875rem;
  }

  /* #eventBox ----------------------- */
  #eventBox {
    height: 147.625rem;
  }
  /* #galleryBox ----------------------- */
  #galleryBox {
    height: 103.125rem;
  }

  /* #chefBox ----------------------- */
  #chefBox {
    height: 54.1875rem;
  }

  /* #locationBox ----------------------- */
  #locationBox {
    height: 29.375rem;
  }

  /* #restoInfoBox ----------------------- */
  #restoInfoBox {
    height: 47.25rem;
  }


} /* @media screen _479 */
