/* tablet : 768 ~ 1279 */
/* css/resto/tablet.css */

@media screen and (min-width:768px) and (max-width:1279px) {

 /* #wrap ----------------------- */
 #wrap {  --headHeight:6.25rem; }

/* #headBox ----------------------- */
/* #headBox {} */

/* #naviBox ----------------------- */
/* #naviBox { } */

/* #viewBox ----------------------- */
#viewBox {height: 57.5rem; }
/* #discoverBox ----------------------- */
#discoverBox {height: 111rem;}
/* #guideBox ----------------------- */
#guideBox {height: 74.375rem;}
/* #eventBox ----------------------- */
#eventBox {height: 68.75rem;}
/* #galleryBox ----------------------- */
#galleryBox {height: 145.3125rem;}
/* #chefBox ----------------------- */
#chefBox {height: 41.875rem;}
/* #locationBox ----------------------- */
#locationBox {height: 40rem;}
/* #restoInfoBox ----------------------- */
#restoInfoBox {height: 19rem;}

} /* @media screen 768~1279 */