@charset "utf-8";

/* css/src/basic_code_07_psuedo.css */
ul,li{ margin: 0; padding: 0; list-style:none;}


ul {
  width:800px; height:auto;
  margin:auto;  padding:10px;
  background-color:#ccf;
}

li {
  width:100%; height:30px;  background-color: #fff;  margin-bottom:10px;}

.m_1, 
.m_2,
.m_3 { font-weight:900; color:#777; }

.m_2:hover,
.m_3:hover { color:#f07; }

.m_3:active { font-size:20px; color:#0cf; }

.m_4 {color:#5d9;}
.m_4:before,
.m_4::before {  content:"내용에 앞에 추가 되었습니다.";  color:#f07;}
.m_4:hover:before,
.m_4:hover::before{  color:#00a;}

.m_5:after,
.m_5::after {  content:"내용에 뒤에 추가 되었습니다.";  color:#f07;}
.m_5:active:after,
.m_5:active::after{  color:#00a;}

.m_6 > a {color:#777;}
.m_6 > a:visited {color:#4fc;}

.m_7 > input:checked + span {font-size:20px; }

.m_8 {height:auto;}
.m_8::first-letter {
  color:#05a; font-weight:900; font-size:2rem;
}
.m_8::first-line {
  color:#f00;
}
