@charset "UTF-8";
/* 현재 파일명: css/src/layout_001.css */

/* reset.css */
html, body { 
  margin:0; }

/* design.css */

#wrap {
  width:1200px; height:500px;
  margin:auto;
  border:50px solid #ccc;
  box-sizing: border-box;
  background-color:#afa; }

  /* #header ============================ */
  #header{
    width:800px; height:100px; 
    margin:auto;
    background-color:#f07;
  }

  /* #section ============================ */
  #section{
    width:100%; height:300px; 
    background-color:#fa0;
  }

  /* #footer ============================ */
  #footer{
    width:inherit; height:100px; 
    background-color:#03f;
  }
