/* css/pwd2-1/tablet_pc.css */

@media screen and (min-width:768px) {

  .indicator { display: none; }

  .view_area {
    width: 100%; height: 100%;
    padding:1rem; box-sizing: border-box;
    background-color: #ccf;
  }

  .view_guide {
    width: 100%; height: 100%;
    border:1px solid #333;
    box-sizing: border-box;
    overflow-x:auto;
    /* overflow: hidden; */
  }

  .view_inner {
    width:700%;
    height: 100%;
  }
  .view_inner > li {
    float:left;
    width:14.285714%;
    width:calc(100% / 7);
    height: 100%;
  }

  .view_inner > li:nth-child(1){ background-color: rgb(43,88,188); }
  .view_inner > li:nth-child(2){ background-color: rgb(168,38,7); }
  .view_inner > li:nth-child(3){ background-color: rgb(133,50,17); }
  .view_inner > li:nth-child(4){ background-color: rgb(95,22,125); }
  .view_inner > li:nth-child(5){ background-color: rgb(110,137,13); }
  .view_inner > li:nth-child(6){ background-color: rgb(118,255,17); }
  .view_inner > li:nth-child(7){ background-color: rgb(227,183,38); }


}