/* css/pwd2-1/tablet_pc.css */

@media screen and (min-width:768px) {


.viewBox_innerwrap { position: relative; }

  .indicator { 
    position: absolute; 
    bottom:1.5rem; left:0; right:0; z-index:100;
    margin:auto;    

    width: 360px; height: 30px;
    width: 22.5rem; height: 1.875rem;
    padding:2px; padding:0.125rem; 
    box-sizing: border-box;
    background-color: rgba(51,51,51,0.5);
    border-radius:30px;
    border-radius:1.875rem;
  }

  .indicator > ul {
    width: 100%; height:auto;
  }
  .indicator li {
    --i-size:26px;
    float:left;
    width: 26px; height: 26px;    

    margin-right:20px; margin-right:1.25rem;
    width:var(--i-size); height:var(--i-size);}

  .indicator li:last-child { margin-right: 0; }

  .indicator li a {
    border-radius:26px;
    border-radius:var(--i-size);
    background-color: #fff; }

  .indicator li.act { width:72px; }
  .indicator li.act a { background-color: #fa0; }


  .view_area {
    width: 100%; height: 100%;
    padding:1rem; box-sizing: border-box;
    background-color: #ccf;
  }

  .view_guide {
    width: 100%; height: 100%;
    border:1px solid #333;
    box-sizing: border-box;
    overflow-x:auto;
    /* overflow: hidden; */
  }

  .view_inner {
    width:700%;
    height: 100%;
  }
  .view_inner > li {
    float:left;
    width:14.285714%;
    width:calc(100% / 7);
    height: 100%;
  }

  .view_inner > li:nth-child(1){ background-color: rgb(43,88,188); }
  .view_inner > li:nth-child(2){ background-color: rgb(168,38,7); }
  .view_inner > li:nth-child(3){ background-color: rgb(133,50,17); }
  .view_inner > li:nth-child(4){ background-color: rgb(95,22,125); }
  .view_inner > li:nth-child(5){ background-color: rgb(110,137,13); }
  .view_inner > li:nth-child(6){ background-color: rgb(118,255,17); }
  .view_inner > li:nth-child(7){ background-color: rgb(227,183,38); }


}