/* reset.css */
body {
  background-color: #fff;
  color: #333333;
}

h1, h2, h3, h4, h5, h6, div, p, dl, dt, dd, ul, li {
  margin: 0;
  padding: 0;
  border: 0;
}

ul, li {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}