/* css/part/layout_004_viewBox.css */



/* #viewBox ============= */
#viewBox{
  width:100%; height:auto; min-height:580px;
  margin-bottom:30px;
  /* background-color: #fdc; */
}

/*  #sideBox -------------------- */
  #sideBox {
    float:left;
    width:360px; height:auto; min-height:600px;
    padding:10px; box-sizing: border-box;
    background-color: #fa0;
  }
  #sideBox > h3 {
    width: 100%; height:50px; 
    margin-bottom:20px;
    background-color: #ccc;
  }
  #sideBox > dl {
    width: 100%; height:auto; 
    margin-bottom:10px; 
    /* background-color: #aaa; */
  }
  #sideBox  dt {
    width: 100%; height:auto;
    margin-bottom:10px;
    font-weight: 600; font-size:20px;
    text-align: right;
  }
  #sideBox  dd {
    width: 100%; height:auto;
    margin-bottom:5px;
    border-bottom:1px solid #ddd;
    text-align: right;
  }
  #sideBox  dd:last-of-type{
    margin-bottom: 0;
    border: 0;
  }

  
  /*  #conBox-------------------- */
  #conBox {
    float:right;
    width:580px; height:auto;
    /* background-color: #af0; */
  }

    .con_area {
      width:100%; height:100px;
      background-color: #ddd;
      margin-bottom:5px;
    }
    .con_area:last-of-type{
      margin-bottom: 0;
    }


    .con_area_01 {
      position: relative;
      height:250px;
      margin-bottom: 30px;
      border:1px solid #777;
      box-sizing: border-box;
    }

      .con_view_button {
        position:absolute;
        top:0; left:0; right:0; bottom:0; margin:auto;
        width: 97%; height:0;
        background-color: rgba(50,50,200,0.2);
      }

      .con_view_button > button {
        width:30px; height:200px;
        margin-top:-100px; 
        background-color: #fa0;
      }
      .next_btn { float:right; }
      .prev_btn { float:left; }
        
    .con_view_part {
      width: 100%; height: 100%;
      background: #aca;
    }
    .con_view_part:hover {
      background-color: #f77;
    }

    /* .con_area_02 --------------------------- */
    .con_area_02 {
      height:auto;
    }
    .con_card_part {
      width: 100%; height:auto;
    }

    .con_card_part > ul {
      width: 100%; height:auto;
      padding:10px; box-sizing: border-box;
    }

    .con_card_part > ul > li {
      float:left;
      width:20%; height:150px;
      margin-right:6%;
      padding:5px;
      border:1px solid #777;
      border-radius:3px;
      box-sizing: border-box;
      background-color: #fff;
    }

    .con_card_part > ul > li:last-child { margin-right: 0; }

    /* .card 모양잡기 */
    .img_zone {width:100%; height:50px; background-color: #555;}
    .card > dl {
      width:100%; height:88px; 
      padding-top:5px; box-sizing: border-box;
      font-size:12px;
    }
    .card  dt {
      width: 100%; height:auto;
      font-weight: 900; color:#333;
    }
    .card  dd {
      width: 100%; height: auto;
      margin-top: 4px;
      font-weight: 200; color:#777;
    }
    /* .card  .narration {} */
    .card  .location {
      width: 80%; height: auto;
    }
    .card  .location a {
      display: block;
      width: 100%; height:25px;
      padding:3px; box-sizing: border-box;
      color:#fff; font-weight: 900;
      text-align: center; line-height:22px;
      background-color: #f33;
    }
    


    /* * margin, padding 을 % 사용시
     * margin-left, margin-right에서 10%사용시 자신의 부값기준 10%만큼 여백을 가짐
     * margin-top, margin-bottom에서 10%사용하면 자신의 부모가 아닌, 전혀 다른영역을 기준으로 여백처리되기에 사용하는것은 권장하지 않는다.
    * */