/* css/part/layout_004_headBox.css */

/* #headBox ============= */
#headBox{
  width:100%; height:150px; 
  margin-bottom:30px;
  padding-top: 20px; box-sizing: border-box;
  /* background-color: #acf; */
}

h1 {
  float:left;
  width:100px; height:70px;
  margin:auto; 
  font-size:16px;
  background-color: #dda;
}
h1>a {
  display: block; width: 100%; height: 100%;
}

#navBox {
  float:left;
  width: 100%; height: 50px;
  margin-top:10px;
  /* background-color: #77f; */
}

#navBox > ul {
  width: 100%; height:100%;
}
#navBox > ul > li{
  float:left;  position: relative;
  width:23%; height:100%;
  margin-left:2.5%; box-sizing: border-box;
  /* background-color: #aaa; */
}

#navBox > ul > li:before ,
#navBox > ul > li::before {
  content:""; display:block; 
  position: absolute; top:10px; left:-15px; 
  width:2px; height:30px;
  background-color: rgba(100,100,100,0.5);
}

#navBox > ul > li:first-child{ margin-left:0; }
#navBox > ul > li:first-child:before,
#navBox > ul > li:first-child::before{ display: none; }

#navBox > ul > li > a {
  display:block;
  width: 100%; height: 100%;
  text-align: center;
  font-size:24px; font-weight:600;
  /* padding-top:10px; box-sizing: border-box; */
  line-height:50px;
  /* background-color: #caa; */
}

#navBox > ul > li > a:hover { color:#077; }
#navBox > ul > li > a:focus { color:#077;}