#wrap {
  width: 100%;
  height: auto;
  background-color: #ddd; }

@use "../base/var";
#headBox {
  width: 100%;
  max-width: 1200px;
  height: 100px;
  margin: auto;
  background-color: #aaf; }
  @media screen and (max-width: 768px) {
    #headBox {
      background-color: #acf; } }

@media screen and (min-width: 1441px) {
  #headBox {
    background-color: #fff; } }

@media screen and (min-width: 769px) and (max-width: 1440px) {
  #headBox {
    background-color: #fa0; } }

h1 {
  float: left;
  width: 100px;
  height: 50px;
  background-color: #fff; }
  h1 > a {
    display: block;
    width: 100%;
    height: 100%;
    border: 1px solid #333; }
    h1 > a > span {
      display: block;
      width: 0;
      height: 0;
      position: absolute;
      z-index: -1;
      overflow: hidden; }
  h1 > a:hover {
    background-color: #06a; }
  h1 > a:focus {
    background-color: #aaf; }

#gnbBox {
  float: right;
  width: 44.27083vw;
  background-color: #aaf; }
  #gnbBox:after, #gnbBox::after {
    content: "";
    display: block;
    clear: both; }
  #gnbBox > h2 {
    display: block;
    width: 0;
    height: 0;
    position: absolute;
    z-index: -1;
    overflow: hidden; }
  #gnbBox > ul {
    float: left;
    width: 100%;
    height: auto;
    padding: 5px 20px;
    box-sizing: border-box; }
  #gnbBox li {
    float: left;
    width: 50px;
    width: 3.125rem;
    height: 30px;
    height: 1.875rem;
    margin-right: 10px;
    background-color: #fff; }
    #gnbBox li:last-child {
      margin-right: 0; }
