@charset "UTF-8";
/* css/base/reset.css */

/* s, strike, big -> 사라진태그 */

:root {
  font-size:16px;
  --color-white : #fff;
  --color-black : #171717; }

html, body {
  width:100%; height:100%;
  margin:0; padding:0; 
  font-family:'Noto Sans KR', sans-serif; 
  color:#171717;
  color:var(--color-black);
  line-height:1;
  background-color: #fff; 
  background-color: var(--color-white); 
}

h1,h2,h3,h4,h5,h6,
p,pre,blockquote,address,
ul,ol,li,dl,dt,dd,
img,br,hr,div,
form,fieldset,legend,input,label, video, audio, textarea,select {
  margin: 0; padding: 0; border:0; outline:0; 
  font-size:16px; font-size:100%;  
  vertical-align: baseline;
}

ul,ol,li { list-style:none;}
a {color:inherit;
  text-decoration:none; }

i, b, u { font-weight:400; font-style:normal; text-decoration: none ;} 

button {
  -webkit-appearance:none;
  -moz-appearance:none;
  -ms-appearance:none;
  -o-appearance:none;
  appearance:none;

  border:0; opacity:1; cursor:pointer;
  background-color: transparent; }

address { font-style:normal; }  
header,nav,section,article,footer,aside,main,figure,figcaption { display:block; }

legend {  width: 0; height: 0; margin: 0; padding: 0; position: absolute; z-index:-1;  overflow: hidden;}
input, textarea, select {
  cursor:pointer; box-sizing: border-box; background-color:transparent;}

input[type="text"],
input[type="password"],
input[type="url"],
input[type="email"],
input[type="search"],
input[type="tel"]{ border-radius:0; appearance:none;}

hr { 
  border : 0; margin:0; padding:0;
  border-bottom:1px solid #333; }