/* pwd_02/d_tablet.css */


/* 768 ~ 959px ------------------------------------------------------ */
@media screen and (min-width:768px) and (max-width:959px) {

  #wrap {
    height:700px;
    background-color: #fcf;
  }
  #headBox{
    width:100%; height:60px;    
    background-color: #333; 
  }
  .headBox_innerwrap {
    width: 100%; height: auto;
    padding:10px 1rem; box-sizing: border-box;
  }

  h1 {
    float:left;
    width: 174px; height: 42px;
    background-color: #fff;
  }
  #navBox {
    float:right;
    width: 94px; height: 40px;
    background-color: #fff;
  }

  .search_area {
    float:left;
    width:36px; height:40px;
    background-color: #33b88f;
  }
  .gnb_area {
    float:right;
    width:45px; height:40px;
    background-color: #33b88f;
  }






  #viewBox{
    width:100%; height:450px;
    background-color: #bbaa77;
  }
  #contentBox{
    width:100%; height:210px;
    background-color: #547d77;
  }
  #infoBox{
    width:100%; height:540px;
    background-color: #33b88f;
  }
  #footBox{
    width:100%; height:120px;
    background-color: #333;
  }

}/* @media screen and (min-width:768px) and (max-width:959px)  */

