/* pwd_02/pc.css */


/* 960px ~ ------------------------------------------------------ */
@media screen and (min-width:960px) {
  #wrap {
    height:1200px;
    background-color: #ffc;
  }
/*   #headBox */
  #headBox {
    position: relative; z-index:0;
    width:100%; max-width:1200px; height:60px;
    margin:auto;
    padding:8px 25px; padding:0.5rem 1.5625rem; 
    box-sizing: border-box;
    background-color: #333; 
  }
   
  #headBox:before {
    content: " ";
    display: block; 
    position: absolute; z-index: -1; top: 0; left: 50%;
    width:100vw; height:100%;
    transform:translate(-50%);
    background-color: inherit;  }

  h1 {
    float:left;
    width: 250px; height: 45px;
    width: 15.625rem; height: 2.8125rem;
    background-color: #fff;
  }
  #navBox {
    float:right;
    width: 500px; height: 30px;
    width: 31.25rem; height: 1.875rem;
    margin-top: 7px;
    background-color: #fff;
  }

  .search_area {
    float:left;
    width:50px; height:30px;
    width:3.125rem; height:1.875rem;
    background-color: #33b88f;
  }
  .gnb_area {
    float:right;
    width:430px; height:30px;
    width:26.875rem; height:1.875rem;
    background-color: #33b88f;
  }



/*  #viewBox */
  #viewBox{
    width:100%; height:450px;
    background-color: #bbaa77;
  }
  #contentBox{
    width:100%; max-width:960px; height:210px;
    margin:auto;
    background-color: #547d77;
  }
  #infoBox{
    width:100%; max-width:960px; height:540px;
    margin:auto;
    background-color: #33b88f;
  }
  #footBox{
    width:100%; height:120px;
    background-color: #333;
  }

}/* @media screen and (min-width:960px) */