/* css.src/basic_coe_22_rwd_02.css */

/* 공통범위
#wrap {
  width: 100%; height:500px;
  background-color: #ddd;
}

#headBox{
  width:100%; height:40px;
  background-color: #333; 
}
#viewBox{
  width:100%; height:480px;
  background-color: #bbaa77;
}
#contentBox{
  width:100%; height:480px;
  background-color: #547d77;
}
#infoBox{
  width:100%; height:480px;
  background-color: #33b88f;
}
#footBox{
  width:100%; height:40px;
  background-color: #333;
} */


/* ~479px ------------------------------------------------------ */
@media screen and (max-width:479px) {

  #wrap {
    height:500px;
    background-color: #0cf;
  }

  #headBox{
    width:100%; height:40px;
    background-color: #333; 
  }
  #viewBox{
    width:100%; height:480px;
    background-color: #bbaa77;
  }
  #contentBox{
    width:100%; height:480px;
    background-color: #547d77;
  }
  #infoBox{
    width:100%; height:480px;
    background-color: #33b88f;
  }
  #footBox{
    width:100%; height:40px;
    background-color: #333;
  }

}/* @media screen and (max-width:479px) */

/* 480 ~ 767px ------------------------------------------------------ */
@media screen and (min-width:480px) and (max-width:767px) {

  #wrap {
    height:900px;
    background-color: #aca;
  }

  #headBox{
    width:100%; height:60px;
    background-color: #333; 
  }
  #viewBox{
    width:100%; height:720px;
    background-color: #bbaa77;
  }
  #contentBox{
    width:100%; height:720px;
    background-color: #547d77;
  }
  #infoBox{
    width:100%; height:720px;
    background-color: #33b88f;
  }
  #footBox{
    width:100%; height:60px;
    background-color: #333;
  }

}/* @media screen and (min-width:480px) and (max-width:767px) */

/* 768 ~ 959px ------------------------------------------------------ */
@media screen and (min-width:768px) and (max-width:959px) {

  #wrap {
    height:700px;
    background-color: #fcf;
  }
  #headBox{
    width:100%; height:60px;
    background-color: #333; 
  }
  #viewBox{
    width:100%; height:450px;
    background-color: #bbaa77;
  }
  #contentBox{
    width:100%; height:210px;
    background-color: #547d77;
  }
  #infoBox{
    width:100%; height:540px;
    background-color: #33b88f;
  }
  #footBox{
    width:100%; height:120px;
    background-color: #333;
  }

}/* @media screen and (min-width:768px) and (max-width:959px)  */


/* 960px ~ ------------------------------------------------------ */
@media screen and (min-width:960px) {
  #wrap {
    height:1200px;
    background-color: #ffc;
  }

  #headBox{
    width:100%; height:60px;
    background-color: #333; 
  }
  #viewBox{
    width:100%; height:450px;
    background-color: #bbaa77;
  }
  #contentBox{
    width:100%; max-width:960px; height:210px;
    margin:auto;
    background-color: #547d77;
  }
  #infoBox{
    width:100%; max-width:960px; height:540px;
    margin:auto;
    background-color: #33b88f;
  }
  #footBox{
    width:100%; height:120px;
    background-color: #333;
  }

}/* @media screen and (min-width:960px) */