/* ../css/src/basic_code_13_image.html.css */

#wrap {
  width: 960px; height: auto;
  margin:auto;
}

.part {
  width: 100%; height: auto;
  margin-bottom:16px;
  padding:20px; box-sizing: border-box;
  border:1px solid #777;
}

h2 {
  width:90%; height:auto;
  margin:auto;
  border-bottom: 1px solid #333;
  margin-bottom: 5px;}

  .img_cover {
    width:100px; height:200px; 
    background-color: #faa;
    overflow: hidden;
    text-align: center;
    margin: 0; padding: 0;
  }
  .img_cover > img {
    /* display:inline-block; */
    width:100%; height:auto;
  }

 .sample {
   /* display:block; */
   float:left;
   width:500px; height:300px; 
   padding:5px;
   background-color: #f77; border:1px solid #77f;
 }

.bgi {
  float:left;
  width:150px; height:150px;
  margin:10px;
  border:1px solid #999;
  background-color: #ddd;
}


abbr {
  text-transform:uppercase;
  text-decoration:none;
}


/* *
  float을 사용하면 해당요소는 강제로 display:block;으로 변환
*/