/* css/src/basic_code_16_iframe.css */

#wrap {
  width: 960px; height: auto; min-height: 800px;
  padding-bottom:500px;
}

.part {
  width:100%; height:auto;
  padding:10px; 
  border:1px solid #333;
  background-color: #ccd;
}

iframe {
  width:100%; height:300px;
  border:0;
  background-color: #daa;
}

.youtube iframe {
  width:700px; height:500px;
  margin:auto;  
}