/* jq_007_scroll.css */
html,body{height: 100%;}

#wrap {
  width: 100%; height:auto; min-height:1000px;
  padding-bottom:1000px;
  background-image: linear-gradient(-45deg, #ddd, #ddf);
}


.part {
  position: fixed;
  top: 0; bottom: 0; left: 0; right: 0;
  width:450px; height:150px;
  margin:auto;
  padding:1rem; box-sizing: border-box;
  border:1px solid #333;
  background-color: #fff;
}

.part p {
  margin-top: 0.5rem;
}

.part p span {
  padding:0.1rem; background-color: #fc0;
}