/* js_013_gallery_01.css */

.part {
  width: 80%; min-width:800px; max-width:1200px;
  height:auto; min-height:600px;
  margin:auto; padding:20px; box-sizing:border-box;
  border:1px solid #777;
}

h3 {
  width: 90%; height: auto;
  margin:auto;
  margin-bottom: 10px;
  padding-bottom: 10px; 
  border-bottom: 1px solid #555;
}

.big_image{
  float:left;
  width: 80%; height:500px;
  margin:10px;
  background-color: #ddd;
  box-shadow:3px 3px 3px rgba(0,0,0,0.2);
  padding:15px; box-sizing: border-box;
  border-radius:3px;
}

.list_image {
  float:right;
  width: 15%; height:auto;
  padding:10px; box-sizing: border-box;
  background-color: #fff;
}

.list_image ul { width: 100%; height: auto;}

.list_image li {
  width: 100%; height:auto;
  margin-bottom:5px;
  border-bottom:1px solid #05a;
}
.list_image li:last-child { margin-bottom: 0;}

.list_image li a {
  display: block;
  width: 100%; height: auto;
  padding:30px 5px; box-sizing: border-box;
  /* background-image: url("../../img/gallery/u_thumnail/image_001.jpg"); */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  transition: all 300ms ease;
}

.gallery_02 li:nth-child(1) a{ background-image:url("../../img/gallery/u_thumnail/image_001.jpg");}
.gallery_02 li:nth-child(2) a{ background-image:url("../../img/gallery/u_thumnail/image_002.jpg");}
.gallery_02 li:nth-child(3) a{ background-image:url("../../img/gallery/u_thumnail/image_003.jpg");}
.gallery_02 li:nth-child(4) a{ background-image:url("../../img/gallery/u_thumnail/image_004.jpg");}
.gallery_02 li:nth-child(5) a{ background-image:url("../../img/gallery/u_thumnail/image_005.jpg");}

.gallery_02 .big_image {
  background-image: url("../../img/gallery/u_big/image_001.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}

.list_image li a:hover{
  background-position: 50% 100%;
}
.list_image li a:focus {
  outline:2px solid #fa0;
}

.blind_wrap a>span{ display: block; width: 0; height: 0; position:absolute; z-index:-1; overflow: hidden;}