/* js_024_parallax_01.css */
#wrap {
  width: 100%; min-width:1300px; max-width:1600px; height:auto;
  margin:auto; 
  padding-bottom: 1000px;
}

.info { 
  width: 100%; height:150vh;
  padding: 1rem; box-sizing:border-box;
}

h1{ font-size: 2rem; padding: 0.5rem; }
h2 { font-size: 1.5rem; color:#05a; margin-bottom: 0.5rem;}

p { padding: 1rem; background-color: #fdd; margin-bottom: 1rem;}

.info ul {
  width: 95%; height: auto;
  margin: auto;
  background-color: #ddf;
}

.info li { line-height: 1.5; }

.part {
  width: 100%; height: auto;
  padding: 1rem; box-sizing: border-box;
  background-color: #ddd; }

.part ul { width: 100%; height: auto; }

.part li {
  width: 100%; height:25rem;
  margin-bottom:6.25rem; padding:2rem 5rem; box-sizing: border-box;
  border-top:1px dotted #fa0; 
  border-bottom:1px solid #777; 
}

.img_box { 
  float:left; width:400px; height:100%;
  margin-right: 100px;
  background-color: #aaf;
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-size:130%;
}

.part li:nth-child(2n + 1) > .img_box { float:right; margin-right: 0; }
.part li:nth-child(1) > .img_box { background-image: url("../../img/parallax/img_01.jpg");}
.part li:nth-child(2) > .img_box { background-image: url("../../img/parallax/img_02.jpg");}
.part li:nth-child(3) > .img_box { background-image: url("../../img/parallax/img_03.jpg");}
.part li:nth-child(4) > .img_box { background-image: url("../../img/parallax/img_04.jpg");}



.part dl {
  float:left;
  width:600px; height:100%;
  padding:3rem; box-sizing: border-box;
  font-size: 1.3rem; }
.part dt {
  width: 100%; height: auto;   
  font-size:1.5rem; font-weight: 700; margin-bottom: 1rem;}
.part dd {
  width: 100%; height: auto;   
  margin-bottom:2rem; 
  color:#555; font-weight: 300; }
.part dd > a {
  display: inline-block;
  padding: 0.8rem 2rem; border-radius:0.3rem;
  color:#fff; font-weight: 700;
  background-color: #f06;}

  /* ------------------------------ */

  .part2 {
    width: 100%; max-width:75rem; height:auto;
    margin:auto;
    margin-top: 5rem; padding: 2rem; box-sizing: border-box;
    background-color: #fdd;
  }

  p { 
    width: 90%; margin:auto; margin-bottom: 2rem;
    border-bottom:1px solid #777;
  }

  .part2 ul {
    width: 100%; height: auto;
  }

  .part2 li {
    width: 100%; height:40rem; 
    margin-bottom: 30rem;
    padding:2rem; box-sizing: border-box;
    border:1px solid #5c5;
    border-left:0;
    border-right:0;
  }

  .img_box { position: relative; }

  .position_img {
    position: absolute;
    background-repeat: no-repeat;
    background-position: 50% 0;
    background-size: 100% auto;
    top:30%; left:-20%; 
    width:140%; height:50%;
  }

  .part2 li:nth-child(2n-1) .img_box{ float:right;}
  .part2 li:nth-child(1) .img_box{ background-color:#f70; }
  .part2 li:nth-child(2) .img_box{ background-color:#7c7; }
  .part2 li:nth-child(3) .img_box{ background-color:#fa0; }

  .part2 li:nth-child(1) .position_img{background-image: url("../../img/parallax2/02.about_Menu_About_01x2_nrdiok.png");}
  .part2 li:nth-child(2) .position_img{background-image: url("../../img/parallax2/02.about_About_Obj_02x2_ux6ono.png");}
  .part2 li:nth-child(3) .position_img{
    background-position: 0 0; background-size: 30% auto;
    background-image: url("../../img/parallax2/02.about_About_Obj_03x2_opkj75.png");}
    