/* css/src/layout_007_join_001_result.css */

#wrap {
  width: 750px; height:auto; min-height: 800px;
  margin:auto;
  padding:12px 30px 16px;
  box-sizing: border-box;
  background-color: #ddd;
}

h1 {
  width: 100%; height:66px;
  margin-bottom: 15px;
}

h1 > a {
  display: block; width: 280px; height: 100%;
  margin:auto;
  background-image: url("../../img/join_001/xidostudio_logo.svg");
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

#joinBox {
  width:685px; height:auto;
  margin:auto;
}

#joinBox > h2 {
  width: 100%; height:auto; 
  margin-bottom: 40px;
  text-align: center;
}

.input_data_area {
  width: 100%; height: auto;
}

form {
  width: 100%; height:auto; 
  min-height:500px;
}

fieldset {
  width: 100%; height: auto;
}

fieldset:nth-of-type(2) {
  margin-top:24px;
  padding-top:24px;
  padding-bottom: 30px;
  border-top:3px solid #e5e5e5;
}

.input_part {
  width: 100%; height:auto;
}

.input_part > li {
  width: 100%; height:58px;
  border:1px solid #e5e5e5;
  box-sizing: border-box;
  margin-bottom:12px;
  background-color: #fff;
}
.input_part > li:last-child {
  margin-bottom: 0;
}

.input_part label {
  float:left;
  width:56px; height:100%;
  border-right:1px solid #e5e5e5;
  cursor: pointer;
  /* background-color: #fa0; */
  text-align: center;
  font-size:1.5rem;
  line-height:58px;
  color:#757575;
}

.input_part input {
  float:left;
  width:550px; height:100%;
  width:calc(100% - 9.375rem);
  padding-left:10px;
  color:#151515;
}
.input_part input::placeholder {
  color:#757575;
}
.input_part .check{
  float:right;
  width: 60px; height: 100%;
  background-color: #cca;
}

/* .input_part #usrCount {
  position: absolute;
  z-index:-1; overflow: hidden;
  width: 0; height: 0;
} */

.contry {
  /* float:left; */
  position:absolute; z-index:100;
  top: 0; right: 0;
  width:620px; 
  width:calc(100% - 60px);
  height:auto;
  background-color: #fff;
}
.contry li {
  width: 100%; height:60px;
  padding:0.5rem; box-sizing: border-box;
}
.contry button{
  width: 100%; height:100%;
  text-align: left;
  text-indent:1rem;
}

.flag {
  display:inline-block;
  width:38px; height:24px;
  margin-right:1rem;
  /* background-color: #77f; */
  background-image: url("../../img/join_001/world_flag.png");
  background-repeat: no-repeat;
  background-size:691.891892%;
  background-position: inherit;
}

button[data-value="korea"]{  background-position: -13px -98px; }
button[data-value="USA"]{ background-position: -77px -24px;}
button[data-value="Germany"]{ background-position: -78px -98px;}
button[data-value="France"]{ background-position: -141px -23px;}

/* --------- */
.contry_list {
  position: relative;
  overflow-y:hidden;
}
.contry_list:hover {
  overflow-y:visible;
}


/*  */
fieldset:last-of-type > p {
  width: 100%; height: auto;
  margin-bottom:35px;
  font-size:18px;
  font-size:1.125rem;
}
.join_guide_link {
  line-height:160%;
  color:#0079c8;
  text-decoration: underline;
}

.submit_btn {
  width: 100%; height: 68px;
}
.submit_btn button{
  width: 100%; height: 100%;
  color:#fff;
  font-size:22px; font-size:1.375rem; 
  font-weight: 700;
  background-color: #0079c8;
}