/* css/src/layout_005_gcass_main_result.css */


#gcassWrap {
  position: relative;
  width:980px;  height:auto; 
  margin:auto; padding-top:30px;
  background-color: #ddd;
}

.container {
  width: 100%; height:auto; min-height:500px;
  background-color: #ffc;
}

#headBox {
  float:left; 
  width:250px; height:710px;
  background-color: #757575;
}
#viewBox {
  float:right; 
  width:730px; height:710px;
  background-color: #fff;
}

#sideBox {
  position: absolute; top: 0; left: 0;
  width: 100%; height: 30px;
  background-color: #888;
}

#footBox {
  width: 100%; height:110px;
  border-top:1px solid #333;
  background-color: #ddf;
}