/* layout_013_clone_skhynix.css */

#wrap {
  width: 100%; /* min-width:1280px; */
  height:auto; margin: auto;

  padding-bottom: 500px;
  background-color: #ddd;
}

#headBox {
  width: 100%; height: 100px;
  padding:1rem; box-sizing: border-box;
  background-color: #fff;

  display: flex;
  justify-content: space-between;
}

h1{
  width: 150px; height: 100%; 
  background-color: #f55;}
h1 a { display: block; width: 100%; height: 100%;}

#gnbBox {
  width:auto; height: 100%;
  background-color: #aaa;
}
#gnbBox ul{
  width: 100%; height: 100%;
  display:flex;
  justify-content: space-around;
  /* align-content: center; */
}

#gnbBox li {padding: 1rem; background-color: #add;}


#navBox {
  width: 300px; height: 100%;
  background-color: #0aa;
}

/* viewBox */
#viewBox {
  position: relative;
  width: 100%; 
  /* height: 35vw;  */
  height:50vw;
  min-height:600px; max-height:1000px;
  padding:1rem; box-sizing: border-box;
  background-color: #aca;
}

.video_area {
  position: relative; overflow: hidden;
  width: 100%; height: 100%; 
  border-radius:1rem;
  background-color: #9dd;}

.video_area video {
  position: absolute; top: 50%; left: 50%;
  width:auto; height:auto; 
  min-width:100%; min-height:100%;
  transform:translate(-50%, -50%);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-image: url("../../img/gallery_02/original/c-d-x-PDX_a_82obo-unsplash.jpg");
  background-size: cover;
}

.scroll_move {
  position: absolute; 
  left: 50%; bottom: 1.5rem;
  width: 20px; height: 40px;
  border:3px solid #fff;
  border-radius:20px;
  transform: translate(-50%);
}

.scroll_move:before{
  content:""; display: block;
  position: absolute; left: 50%; top:50%;
  width: 3px; height: 8px;
  border-radius:3px;
  transform: translate(-50%);
  background-color: #fff;

  animation:mwheel 1000ms ease-out infinite alternate;
}

@keyframes mwheel {
  0% {margin-top:0;}
  100%{margin-top:-1rem;}
}

/* .scroll_move:after{} */

#conBox {
  display:flex;

  width: 100%; height: auto;
  margin-top: 1rem;
  background-color: #aff;
}

#conBox>div{
  padding: 2vw;
}

.dbl .inner_area{
  background-color: #fca;
}
.esg .inner_area{
  background-color: #faf;
}

