/* css/src/layout_006_login_result.css */

/* variable --------------------------- */
:root {
  /* color */
  --color-white:#fff;
  --color-black:#252525;
  --color-color1:#472a77;
  --color-color2:#9f478e;

  /* font-family */
  --font-family:'Noto Sans KR', sans-serif;

  /* font-size */
  --font-size1:0.75rem;
  --font-size2:0.833333rem;
  --font-size3:1rem;
  --font-size4:1.666667rem;
}

/* design --------------------------- */

#wrap {
  width: 100%; height: auto; 
  min-height:1500px; min-height:93.75rem;
  background-color: #f5f5f5;
}

h1 {
  width: 100%; height: auto;
  padding:1rem; box-sizing: border-box;
  color:#fff; text-align: center;
  background-color: #9f478e;
}
/* -------------------------------- */

.log_in_area {
  width: 276px; height:auto; min-height: 400px;  
  margin:auto; margin-top:150px;
  padding-bottom:35px;
  border-radius:7px;
  text-align: center;
  background-color: var(--color-white);
  box-shadow:7px 7px 5px rgba(0, 0, 0, 0.28);
}

.welcome_part {
  position: relative;
  width: 100%; height:auto; min-height:212px;
  margin-bottom: 26px;
  padding-top: 100px; box-sizing: border-box;
  border-radius:7px 7px 0 0;
  border-radius:0.4375rem 0.4375rem 0 0;
  background-color: #9f478e;
  background-color: var(--color-color2);
  background-image: url("../../img/login/1x/log_in_bg.png");
  background-repeat: no-repeat;
  background-position: 50% 0;
}

.welcome_part > h3 { 
  position: absolute;
  bottom:14px; left:0;
  width: 100%; height: auto;
  font-size:var(--font-size4);
  color:var(--color-white);
  text-transform:uppercase;
}
.welcome_part dl {
  width: 100%; height: auto;
}

.welcome_part dt {
  width: 100%; height: auto; 
  margin-bottom: 10px;
  color:var(--color-black);
  font-size:var(--font-size2);
}

.signup_link {
  width:100%; height:auto;
  padding-bottom:4px;
}

.signup_link > a {
  /* display: block; width:54px; height:auto; */
  padding:3px 10px;
  color:var(--color-color1);
  font-size:12px;
  font-size:var(--font-size1);
  border-radius:50px;
  background-color: #fff;
  background-color: var(--color-white);
}

/* ------------------------------ */
.member_part {
  width: 130px; height: auto; min-height:120px;
  margin:auto;
  background-color: #fff;
}

form {
  width: 100%; height:auto;
  margin: 0; padding: 0;
}
fieldset{
  width: 100%; height:auto;
  min-height:200px;
  border:0; margin: 0; padding: 0;
}

fieldset > div {
  position: relative;
  width: 100%; height:20px;
}

.id_insert { 
  margin-bottom: 10px;
}
.pw_insert {
   margin-bottom: 15px;
}

fieldset > div > input {
  display:block;
  width: 100%; height:100%;
  border:0;
  margin: 0; padding: 0;
  border-radius:20px;
  text-align:left;
  text-indent:2rem;
  color:var(--color-white);
  cursor: pointer;
  background-color: var(--color-color1);
  background-image: linear-gradient(90deg, var(--color-color1) 50%, var(--color-color2) );
}
fieldset > div > input::placeholder {
  color:var(--color-white);
  word-spacing:-0.1rem;
  text-transform:capitalize;
  opacity:0.5;
}
fieldset > div label {
  position: absolute; top: 2px; left: 2px;
  width:16px; height:16px;
  border-radius:100%;
  background-color: #fa0;
  background-image: url("../../img/login/1x/id_icon.png");
  background-image: url("../../img/login/SVG/id_icon.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: 70% auto;
}
/* 
input:focus + label {
  background-color: #fff;
} */

/* ---------------- */
.log_in_btn {
  width: 60px; height:24px;
  margin:auto; margin-bottom:15px;
}

.submit_btn {
  display: block;
  width: 100%; height:100%;
  border-radius:18px;
  color:var(--color-white);
  text-transform:uppercase;
  word-spacing:-0.1rem;
  font-size:var(--font-size1);
  font-weight:700;
  background-color: var(--color-color1);
  background-image: linear-gradient(90deg, var(--color-color1) 70%, var(--color-color2) );
}

.lost_pw {
  width: 100%; height:auto;
  letter-spacing:-0.05rem;
  /* word-spacing:-0.2rem; */
  font-size:var(--font-size1);
}