/* layout_011_jq_accordion_menu_result.css */

#wrap {
  width: 800px; height:auto;
  margin:auto; padding:0.5rem; 
}

h1{
  margin-bottom: 1rem;
}
.accordion {
  width: 100%; height:auto;
  padding:1rem; box-sizing: border-box;
  border:1px solid #ccc;
}

h2 {
  width: 100%; height: auto;
  padding:0.5rem; box-sizing: border-box;
  border-bottom:0.3rem solid #ddd;
  margin-bottom:1rem;
}

.accordion > dl {
  width: 100%; height:auto;
}

.accordion dt {
  width: 100%; height:auto; 
  margin-top:0.7rem; 
  background-color: #acf;
  font-size:1.2rem; color:#171717;
  border-bottom:1px solid #555;
}

.accordion button {
  width: 100%; height: auto; min-height:50px;
  padding:0 1rem;
  text-align: left;
  font-size:1.3rem;
  transition: all 300ms ease;
}

.accordion em {
  float: left; 
  margin-right:0.5rem;
  font-size: 1.5rem;
}

.accordion .icon {
  float:right;
  font-size: 1.5rem;
  transition:all 300ms linear;
  transform:rotate(180deg);
}

.accordion dt.act em { color:#f07; }
.accordion dt.act .icon{ transform:rotate(0); }



.accordion button:hover {
  color:#fff; font-weight: 700;
  background-color: #599;
}
.accordion button:focus {
  outline:0;
  border-bottom: 0.5rem solid #355;
}

.accordion dd {
  display:none;
  width: 100%; height:auto;
  padding:2rem; box-sizing: border-box;
  background-color: #fda;
}

.accordion dd:focus {
  background-color: #fcc;
}