
li {
  position: relative;
  float:left;
  width:200px;
  height:200px;
  margin:0.5rem;
  border:1px solid #777;
  cursor: pointer;
}

.base {
  width: 100%; height: 100%;
  background-image: url("../../img/card_list/001-.svg");
  background-size: 70% auto;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.other {
  opacity: 0;
  position: absolute;
  top: 0; left: 0;
  width: 100%;
  height: 100%;
  padding:2rem; box-sizing: border-box;
  background-color: rgba(0,50,200,0.7);
  cursor: default;
  transition:all 300ms ease;
}
.other > dl {
  position: absolute; top: 50%; left: 50%;
  width: 100%; height: auto; 
  text-align: center;
  color:#fff;
  transform: translate(-50%, -50%);
}

.other > dl dt {
  margin-bottom:0.5rem;
  font-size: 0.875rem;
  text-decoration:underline;
}

.btn {
  position: absolute; left:50%;
  width:3rem; height:3rem;
  transform:translateX(-50%);
}
.btn>button,
.btn>a {
  position: relative;
  display: block; width: 100%; height: 100%; 
  color:inherit; font-size:2rem; line-height:2.3rem; vertical-align:middle;
  border:0.125rem solid #fff; box-sizing: border-box;
  cursor: pointer;
}
/* ---------------------------- */
.btn>button:before,
.btn>button:after {
  content:" "; display: block;
  position: absolute; top: 0; left: 0; bottom:0; right:0;
  margin:auto;  
  width:1.7rem; height:0.25rem;
  background-color: #fff;
  transition:all 300ms ease;
}
.btn>button:after {  transform:rotate(90deg); }

/* ---------------------------- */
.btn a:before, 
.btn a:after {
  content:" "; display: block;
  position: absolute; top: 0; bottom: 0; left: 0; right: 0; 
  margin:auto;
  width:1.3rem; height:0.25rem;
  background-color: #fff;
  border-radius:0.5rem;
}

.btn a:before { transform:rotate(30deg) translateY(-0.32rem); }
.btn a:after {  transform:rotate(-30deg)  translateY(0.32rem);}


.btn>button:hover:before{ transform:rotate(180deg); }
.btn>button:hover:after{ transform:rotate(270deg); }

.btn>button:focus,
.btn>a:focus {  box-shadow:0.3rem 0.2rem 0.1rem rgba(0,0,0,0.5); }

.other > dl dd:nth-of-type(2){  top: -3.5rem; }
.other > dl dd:nth-of-type(3){  bottom: -3.5rem; }

/* li:hover > .other,
li:focus > .other {  display:block; } */

.line_focus {
  width: 100%; height: 100%;
}

.line_focus > div {
  width: 100%; height: 100%;
}

.line_focus > div:before,
.line_focus > div:after {
  content:""; display: block;
  position: absolute;
  background-color: #131313;
  transition: all 500ms ease;
}

.line1:before {
  width: 0; height:4px;  top: 0; left: 0; }
.line1:after {
  width:4px; height:0;  top: 0; left: 0; }
.line2:before {
  width: 0; height:4px;  bottom: 0; right: 0; }
.line2:after {
  width:4px; height:0;  bottom: 0; right: 0; }

li.act .other { opacity: 1; }
li.act .line1:before{ width: 100%; }
li.act .line1:after{  height: 100%; }
li.act .line2:before{ width: 100%; }
li.act .line2:after{  height: 100%; }

/* li:hover .other { opacity: 1; }
li:hover .line1:before{ width: 100%; }
li:hover .line2:before{ width: 100%; }
li:hover .line1:after{  height: 100%; }
li:hover .line2:after{  height: 100%; }

li:focus .other { opacity: 1; }
li:focus .line1:before{ width: 100%; }
li:focus .line2:before{ width: 100%; }
li:focus .line1:after{  height: 100%; }
li:focus .line2:after{  height: 100%; } */