.blind {
  position: absolute;
  z-index: -1;
  width: 0;
  height: 0;
  overflow: hidden;
}

#wrap {
  width: 100%;
  min-width: 960px;
  margin: auto;
  background-color: #ddd;
}

#headBox {
  width: 100%;
}

h1 {
  height: 100px;
  height: 200px;
}
h1 > a {
  display: block;
  width: 100%;
  height: 100%;
}
h1 > a:hover > span {
  color: #7dd;
}
h1 span {
  color: #f00;
}

ul > li > a {
  display: block;
  width: 100%;
  height: 100%;
  background-image: url("../img/bg/set_img.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0 0;
}
ul > li > a > span {
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  overflow: hidden;
}

p > a {
  display: block;
  width: 100%;
  height: 100%;
  background-image: url("../img/bg/location.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0 0;
}
p > a > span {
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  overflow: hidden;
}

@media screen and (max-width: 640px) {
  p {
    width: 100%;
    height: 500px;
  }
}
@media screen and (max-width: 1024px) {
  p {
    width: 90%;
    height: 300px;
  }
}
@media screen and (max-width: 1920px) {
  p {
    width: 100%;
    max-width: 1440px;
  }
}

.juice_latte {
  display: block;
  width: 100%;
  height: 100%;
  background-image: url("../img/bg/juice_01.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0 0;
}
.juice_latte > span {
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  overflow: hidden;
}

.juice_milk {
  display: block;
  width: 100%;
  height: 100%;
  background-image: url("../img/bg/juice_02.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0 0;
}
.juice_milk > span {
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  overflow: hidden;
}

.juice_ice {
  display: block;
  width: 100%;
  height: 100%;
  background-image: url("../img/bg/juice_03.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0 0;
}
.juice_ice > span {
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  overflow: hidden;
}

.juice_wiskey {
  display: block;
  width: 100%;
  height: 100%;
  background-image: url("../img/bg/juice_04.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0 0;
}
.juice_wiskey > span {
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  overflow: hidden;
}

.juice_wine {
  display: block;
  width: 100%;
  height: 100%;
  background-image: url("../img/bg/juice_05.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0 0;
}
.juice_wine > span {
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  overflow: hidden;
}

.juice_choco {
  display: block;
  width: 100%;
  height: 100%;
  background-image: url("../img/bg/juice_06.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0 0;
}
.juice_choco > span {
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  overflow: hidden;
}