/* b_smartphone.css */

/* μ¤λ§νΈν°(max-width:767px) */
@media screen and (max-width:767px) {

  #wrap { width: 100%; min-width:320px; background-color: #acf; }
  /* #headBox ============================================== */
  #headBox{
    position: relative;
    width: 100%; height: 3rem;
    background-color: #aca;
  }
  .container {
    width: 100%; height: 100%;
  }

  h1{
    position: absolute; top: 0; left: 0; right: 0;
    width: 100px; height: 3rem; margin:auto;
    background-color: #755;
  }

  #unb {
    float:right;
    width:6.25rem; height:3rem;
    padding: 0.5em; box-sizing: border-box;
    background-color: #fff;
  }

  #gnb {
    float:left;
    width: 3rem; height: 3rem;
    padding:0.5rem; box-sizing: border-box;
    background-color: #fa0;
  }

  .unb_list{ display: none; }
  .gnb_list{ display: none; }

 /* #viewBox ============================================== */
  #viewBox{
    width: 100%; height:40rem;
    background-color: #acc;
  }

 /* #contentBox ============================================== */
  #contentBox{
    width: 100%; height:62.5rem;
    background-color: #fdd;
  }














}/* @media screen and (max-width:767px) */
