/* b_smartphone.css */

/* μ¤λ§νΈν°(max-width:767px) */
@media screen and (max-width:767px) {

  #wrap { width: 100%; min-width:320px; background-color: #acf; }
  /* #headBox ============================================== */
  body{overflow-x: hidden;}

  #headBox{
    position: relative;
    width: 100%; height: 3rem;
    background-color: #aca;
  }
  .container {
    width: 100%; height: 100%;
  }

  h1{
    position: absolute; top: 0; left: 0; right: 0;
    width: 100px; height: 3rem; margin:auto;
    background-color: #755;
  }

  #unb {
    float:right;
    width:6.25rem; height:3rem;
    padding: 0.5em; box-sizing: border-box;
  }
  .unb_list{
    width: 100%; height: 100%;
  }
  .unb_list li {
    float:right;
    width:33.333333%; height:100%;
    padding:0.125rem; box-sizing: border-box;
    text-align: center; line-height:1.5rem;
  }

  #gnb {
    float:left;
    width: 3rem; height: 3rem;
    padding:0.5rem; box-sizing: border-box;
    background-color: #fa0;
  }

  .gnb_btn{
    position: relative; z-index: 100;
    width: 100%; height: 100%;
  }
  .gnb_btn button {
    width: 100%; height: 100%; 
    padding: 0;
  }
  .line {
    display: block; position: absolute; top:0; bottom:0; left:0; right:0; 
    width: 100%; height: 3px; margin:auto;
    background-color: #171717;
    transition:all 300ms linear;
  }
  .line1 { transform:translateY(-0.7rem); }
  .line3 { transform: translateY(0.7rem); }

  #gnb.act .line1{ transform: translateY(0) rotate(45deg);}
  /* #gnb.act .line1{ width: 0;} */
  #gnb.act .line2{ width: 0; height: 0; opacity: 0;}
  #gnb.act .line3{ transform: translateY(0) rotate(-45deg);}
  /* #gnb.act .line3{ width: 0;} */
  /* #gnb.act .gnb_list{display: block;} */

  .gnb_list{ display: none;
    position: fixed;
    top:0; left: 0;
    width: calc(100% + 15px); height:100%;
    padding:1rem;  padding-top:4rem; box-sizing: border-box;
    background-color: #fff;
    overflow-x:hidden;
    overflow-y:auto;
  }
  .gnb_list li {
    width: 100%; height: auto; 
    padding:0.5rem;  box-sizing: border-box;
   
    margin-bottom: 0.5rem;
    text-transform: capitalize;
  }
  .nav_title {
    width: 100%; height:auto; 
    padding:0.5rem;  box-sizing: border-box;
    border-bottom:1px solid #777; 
    font-weight: 700;
  }
  .gnb_list li:last-child{ margin-bottom: 0;  }

  .nav_content {
    
    padding-left:2rem;
    background-color: #efefef;
  }
  .nav_content li {
    list-style:disc;
    padding-left: 0;
  }

 /* #viewBox ============================================== */
  #viewBox{
    width: 100%; height:40rem;
    background-color: #acc;
  }

 /* #contentBox ============================================== */
  #contentBox{
    width: 100%; height:62.5rem;
    background-color: #fdd;
  }














}/* @media screen and (max-width:767px) */
