/* b_smartphone.css */

/* μ¤λ§νΈν°(max-width:767px) */
@media screen and (max-width:767px) {

  #wrap { width: 100%; min-width:320px; background-color: #acf; }
  /* #headBox ============================================== */
  #headBox{
    position: relative;
    width: 100%; height: 3rem;
    background-color: #aca;
  }
  .container {
    width: 100%; height: 100%;
  }

  h1{
    position: absolute; top: 0; left: 0; right: 0;
    width: 100px; height: 3rem; margin:auto;
    background-color: #755;
  }

  #unb {
    float:right;
    width:6.25rem; height:3rem;
    padding: 0.5em; box-sizing: border-box;
  }
  .unb_list{
    width: 100%; height: 100%;
  }
  .unb_list li {
    float:right;
    width:33.333333%; height:100%;
    padding:0.125rem; box-sizing: border-box;
    text-align: center; line-height:1.5rem;
  }

  #gnb {
    float:left;
    width: 3rem; height: 3rem;
    padding:0.5rem; box-sizing: border-box;
    background-color: #fa0;
  }

  .gnb_list{ 
    position: fixed;
    top:0; left: 0;
    width: 100%; height:100%;
    padding:1rem;  padding-top:4rem; box-sizing: border-box;
    background-color: #fff;
    overflow-x:hidden;
    overflow-y:auto;
  }
  .gnb_list li {
    width: 100%; height: auto; 
    padding:0.5rem;  box-sizing: border-box;
   
    margin-bottom: 0.5rem;
    text-transform: capitalize;
  }
  .nav_title {
    width: 100%; height:auto; 
    padding:0.5rem;  box-sizing: border-box;
    border-bottom:1px solid #777; 
    font-weight: 700;
  }
  .gnb_list li:last-child{ margin-bottom: 0;  }

  .nav_content {
    
    padding-left:2rem;
    background-color: #efefef;
  }
  .nav_content li {
    list-style:disc;
    padding-left: 0;
  }

 /* #viewBox ============================================== */
  #viewBox{
    width: 100%; height:40rem;
    background-color: #acc;
  }

 /* #contentBox ============================================== */
  #contentBox{
    width: 100%; height:62.5rem;
    background-color: #fdd;
  }














}/* @media screen and (max-width:767px) */
