/* d_laptop.css */


/* 노트북 (max-width:1599px) vw기준: 1280*/

@media screen and (min-width:1280px) and (max-width:1599px) {
  #wrap { background-color: #afa; }

  
  #headBox{
    position: relative;
    width: 100%; height:4.5rem;
    padding:1rem; box-sizing: border-box;
    background-color: #fdd;
  }
  .container {
    width: 100%; max-width:87.5rem; height: 100%;
    margin:auto;
  }

  h1{
    float:left;
    width:150px; height:3rem; 
    background-color: #755;
  }

  #unb {
    float:right;
    width:6.25rem; height:3rem;
    padding: 0.5em; box-sizing: border-box;
    background-color: #fff;
  }

  .unb_list{
    width: 100%; height: 100%;
  }
  .unb_list li {
    float:right;
    width:33.333333%; height:100%;
    padding:0.125rem; box-sizing: border-box;
    text-align: center; line-height:1.5rem;
  }

  #gnb {
    float:right;
    width:800px; height:2rem;
    margin-top: 1rem; margin-right: 3rem;
     /* padding:0.5rem; box-sizing: border-box; */
    background-color: #fa0;
  }
  .gnb_btn {display: none;}

  .gnb_list{ width: 100%; height: auto; }

  .gnb_list>li{
    float:left;
    width:25%; height:auto; 
    padding-left:0.5rem; box-sizing: border-box;
  }
  .gnb_list>li:first-child{padding-left: 0;}

  .nav_title {
    width: 100%; height:2rem; 
    text-align: center; line-height: 2rem;
    background-color: #fff;
  }
  .nav_content {
    display: none;
    margin-top: 1rem;
    background-color: #fff;
  }
  .gnb_list>li:hover .nav_content {display: block;}

  .gnb_list li:last-child{ margin-bottom: 0;  }

  .nav_content li {
    padding:0.5rem; box-sizing: border-box;
    font-size:0.875rem;
  }


 /* #viewBox ============================================== */
  #viewBox{
    width: 100%; height:40rem;
    background-color: #acc;
  }

 /* #contentBox ============================================== */
  #contentBox{
    width: 100%; height:62.5rem;
    background-color: #fdd;
  }
  
 }/* @media screen and (min-width:1280px) and (max-width:1599px)  */
 